
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Verify | TutorHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="center-body">

<div class="home-container">

    <!-- Logo -->
    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">

    <!-- Title -->
    <h1 class="title">TutorHub</h1>

    <!-- Tagline -->
    <p class="tagline">
        Find the Right Tutor Near You
    </p>

    <!-- OTP Card -->
    <div class="login-card">

        <h2>Verify OTP</h2>

        <p class="otp-text">
            OTP sent to <b>{{ session.mobile }}</b>
        </p>

        <form method="POST">

            <input 
                type="text"
                name="otp"
                placeholder="Enter 4 Digit OTP"
                maxlength="4"
                required>

            <button type="submit" class="btn-login">
                Verify OTP
            </button>

        </form>

        <div class="resend">
            Didn’t receive OTP?  
            <a href="/login">Resend OTP</a>
        </div>

    </div>

</div>

</body>
</html>
